<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="samplezoo.category_b.feature_k.spec.specification_k_1">
         <Plugin
               pluginId="samplezoo.category_b.feature_k.spec.specification_k_1.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,dee246a6-2cf9-11e8-b200-0bc7d3f02413,Q29Ozh2xnybpjK3OFrXiaIHE4dw=] -->
