.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.jar
/.metadata/version.ini
Gemfile.lock
*.cache
/src/cleonproject.deliverables.architecture.model.architecture/src/cleon.architecturemethods.itarc42.sample/xml/IKT_Systemarchitektur.docx
/build/lib
/build/__pycache__
/build/myenv
/build/.doit.db.db