<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.publishing.staticwebsite.spec.website">
         <Plugin
               pluginId="cleon.publishing.staticwebsite.spec.website.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,86fb5bd8-f9a8-11e5-b9a7-6569351d3892,8f274ee4-5443-11e8-a7d7-8f17ff9a62b8,xDzeNfJgOIZjGwu9xgE3smpgiGM=] -->
