<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.projectmethods.hermes.spec.projectfoundation">
         <Plugin
               pluginId="cleon.projectmethods.hermes.spec.projectfoundation.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,c761c547-ca39-11e8-9e9d-8dc67753571a,1803d056-cfc5-11e8-acf1-7599702aecd3,V/WZBl7BJ5G1MV03o8aWB22fJf4=] -->
