<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.modelinglanguages.segmentation.metamodel">
         <Plugin
               pluginId="cleon.modelinglanguages.segmentation.metamodel.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,7bee2fc2-2a23-11e9-ae05-8b7ceb21d14f,7bee2fc0-2a23-11e9-ae05-8b7ceb21d14f,l/6oUOUM5ZA7NZ8mdHt+9wi6mvM=] -->
