<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.testingmethods.hermes.spec.hermes5">
         <Plugin
               pluginId="cleon.testingmethods.hermes.spec.hermes5.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,3610aa9e-4f84-11e9-bb70-f5c712ea0a4b,4717307b-4f84-11e9-bb70-f5c712ea0a4b,pARM7QiGtRB4nXZK3XdVdk9VelM=] -->
