<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.initialization.projectmanagement.spec.steering">
         <Plugin
               pluginId="cleon.initialization.projectmanagement.spec.steering.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,c00aa8be-bdf5-11e6-ab2d-a5be5cfbe9e7,d16841ae-5444-11e8-a7d7-8f17ff9a62b8,rnvBE6yfBw+/n7Hy6eTbH638WZo=] -->
