<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.architecturemethods.eamod.template.asciidoc">
         <Plugin
               pluginId="cleon.architecturemethods.eamod.template.asciidoc.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,d878915f-ca4e-11e8-9e9d-8dc67753571a,e2797364-ca4e-11e8-9e9d-8dc67753571a,HLesezdjiVF5ftJ5btx/71LnfNA=] -->
