<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.common.xml.spec.xmi">
         <Plugin
               pluginId="cleon.common.xml.spec.xmi.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,33ae8c22-8249-11e7-b028-cd49b4cd0f40,049f49e0-5443-11e8-a7d7-8f17ff9a62b8,VUzvAD5+1luS7VOLw9ZGG6TTguk=] -->
