<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="samplezoo.category_a.builtin_a.spec.specification_builtin_a">
         <Plugin
               pluginId="samplezoo.category_a.builtin_a.spec.specification_builtin_a.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,f1c51432-2c0a-11e8-ae64-e3540bdf64a6,2Jgdn+E2Dk7kYCUl5duAXoWfno0=] -->
