<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="sample_zoo.category_a.builtin_b.spec.builtin_specification_b">
         <Plugin
               pluginId="sample_zoo.category_a.builtin_b.spec.builtin_specification_b.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,fe1a4729-2c0a-11e8-ae64-e3540bdf64a6,e6ec66f2-5441-11e8-a6cb-077b93ceb236,xOtnK/1wtJdkUAbjSLhYIXtmMHM=] -->
