<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="false"
            name="cleon.cqrs.spec">
         <Plugin
               pluginId="cleon.cqrs.spec.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,090f94c6-11ef-11e5-b568-55f5f05bd6f6,rCYmUnhg4XR7U3dcrlXxr0zQ+zo=] -->
