<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.architecturemethods.eamod.template.docbook">
         <Plugin
               pluginId="cleon.architecturemethods.eamod.template.docbook.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,8276ec99-ca56-11e8-9e9d-8dc67753571a,8276ec98-ca56-11e8-9e9d-8dc67753571a,/U46Pkv1jIhvebI5I1P1/r94Z40=] -->
