<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.actifsource.core.RegisterModel">
      <ResourceFolder
            path="asrc">
      </ResourceFolder>
   </extension>
   <extension
         point="ch.actifsource.environment.RegisterBuiltin">
      <Builtin
            defaultBuiltin="false"
            isExtendable="true"
            name="cleon.applications.actifsource.sample.category_a.builtin_a.model.test2">
         <Plugin
               pluginId="cleon.applications.actifsource.sample.category_a.builtin_a.model.test2.builtin">
         </Plugin>
      </Builtin>
   </extension>
</plugin>
<!-- Actifsource ID=[e7b07ed1-2d5d-11e5-a80e-a94c0ceb2081,200df135-2638-11ea-8c59-871562e3b5c4,3f3bf799-2638-11ea-8c59-871562e3b5c4,zfp5daIPF3LQLmM8KkCuERjOsA4=] -->
